@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #f7931a;
    padding: 20px;
    text-align: center;
    color: white;
}

img{
   width: 14vw; 
}

h1 {
    margin: 0;
}

p {
    margin: 10px 0;
    
}

.content {
    text-align:center;
    padding: 50px;
}

.content h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.content a {
    display: inline-block;
    padding: 15px 25px;
    background-color: #f7931a;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s;
}

.content a:hover {
    background-color: #e07b12;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
#bitcoin{
    text-align: left;
}
#Etherum{
    text-align: center;
}
#Dolar{
    align-items: right;
}
.container {
    display: flex;
    justify-content: space-around; /* Espaço entre os itens */
    align-items: flex-start; /* Alinha os itens no topo */
    flex-wrap: wrap; /* Faz com que os itens sejam quebrados em linhas se a tela for menor */
    margin-top: 20px;
}

.box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%; /* Define a largura dos blocos */
    margin: 10px;
}