<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitcoin</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
</head>
<body>

    <header>
        <h1>Bem-vindo ao Bitcoin Info</h1>
        <p>A principal fonte de informações sobre Bitcoin</p>
        <img src="{{url_for('static',filename='bitcoin20.png')}}" alt="Bitcoin">
    </header>
    <div class="container">
        <div class="box">
            <h3>Cotação Atual do Bitcoin</h3>
            <p><strong>Valor atual:</strong> {{btc_bid}} R$</p>
            <p><strong>Valor máximo hoje:</strong> {{btc_max}} R$</p>
            <p><strong>Maior baixa hoje:</strong> {{btc_min}} R$</p>
            <p><small>Última atualização: {{Horario}}:{{minuto}}</small></p>
        </div>
    
        <div class="box">
            <h3>Cotação Atual do Ethereum</h3>
            <p><strong>Valor atual:</strong> {{eth_bid}} R$</p>
            <p><strong>Valor máximo hoje:</strong> {{eth_max}} R$</p>
            <p><strong>Maior baixa hoje:</strong> {{eth_low}} R$</p>
            <p><small>Última atualização: {{Horario}}:{{minuto}}</small></p>
        </div>
    
        <div class="box">
            <h3>Cotação Atual do Dólar</h3>
            <p><strong>Valor atual:</strong> {{dolar_bid}} R$</p>
            <p><strong>Valor máximo hoje:</strong> {{dolar_high}} R$</p>
            <p><strong>Maior baixa hoje:</strong> {{dolar_low}} R$</p>
            <p><small>Última atualização: {{Horario}}:{{minuto}}</small></p>
        </div>
    </div>
    
    </div>
    <div class="content">
    <a href="/cadastro">Clique Aqui para se cadastrar</a>
    </div>
    <footer>

        <p>© 2024 Bitcoin Info. Todos os direitos reservados.</p>
    </footer>
</body>
</html>