<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bitcoin</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style2.css')}}">
</head>
<body>
</head>
<body>

    <header>
        <h1>Cadastre-se!</h1>
    </header>

    <main>
    <h2>Cadastre-se <br> para  mais informações</h2>
        <form action="/Enviar" method="post">
            <label for="name">Nome:</label>
            <input type="text" name="Nome" required>
            <br>
            <!--input  nome-->
            <label for="email">E-mail:</label> 
            <input type="email" name="Email" required> 
            <br>
            <!--input E-mail-->

            <div class="content" id="">
                <button type="submit">Cadastrar</button>
            </div>
       </form> 
       
    </main>
    <img src="{{url_for('static',filename='bitcoin20-removebg-preview.png')}}" alt="Bitcoin"> 
    <footer>
        <p>© 2024 Bitcoin Info. Todos os direitos reservados.</p>
    </footer>
</body>
</html>